# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run/*
!run/kubejs/
!run/config/

# Files from Forge MDK
forge*changelog.txt

# diff
*.bbmodel
/run/kubejs/probe/
/run/kubejs/exported/
